.grid-container{
    width: 320px;
    height:300px;
    background-color: var(--dark-gray);
    border: 2px solid var(--dark-gray);
    border-radius: 0.75rem;
}

.grid-container:hover{
    border-color: var(--green);
    transition: all 0.3sec;
}

.grid-container-red:hover{
    border-color: var(--red);
    transition: all 0.3sec;
}

.info-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:1rem;
    margin: 1rem;
}

.coin-logo{
    height:3.5rem;
    width:3.5rem;
}

.name-col{
    display: flex ;
    flex-direction: column;
    gap: 0.5rem;
}

.coin-symbol{
    color:var(--white);
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin:0;
}


.coin-name{
    color:var(--gray);
    font-weight: light;
    font-size: 0.8rem;
    text-transform: capitalize;
    margin:0;
}

.chip-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin: 1rem 1.5rem;
}

.price-chip{
    border:2px solid var(--green) ;
    border-radius: 1rem;
    padding: 0.35rem 1.25rem;
    text-align: center;
    font-weight: 600;
    color:var(--green);
    font-size: 1rem;
    min-width: 50px;
}

.price-chip:hover{
    background-color: var(--green);
    color:var(--white);
    transition: all 0.3sec;
}

.price-chip-red{
    border:2px solid var(--red) ;
    border-radius: 1rem;
    padding: 0.35rem 1.25rem;
    text-align: center;
    font-weight: 600;
    color:var(--red);
    font-size: 1rem;  
}

.price-chip-red:hover{
    background-color: var(--red);
    color:var(--white);
    transition: all 0.3sec;
}

.trend-chip-up{
    border:2px solid var(--green) ;
    border-radius: 50%;
    height:2rem;
    width:2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    color: var(--green);
    font-size:1rem;   
}

.trend-chip-up:hover{
    background-color: var(--green);
    color:var(--white);
    transition: all 0.3sec;
}

.trend-chip-down{
    border:2px solid var(--red) ;
    border-radius: 50%;
    height:2rem;
    width:2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    color: var(--red);
    font-size:1rem;   
}

.trend-chip-down:hover{
    background-color: var(--red);
    color:var(--white);
    transition: all 0.3sec;
}

.info-container{
    margin: 1.5rem;
    color:var(--green);
    font-weight: 600;
    font-size: 1.2rem;
}

.total-volume{
    font-size: 0.75rem;
    color: var(--gray);
}

.market-cap{
    font-size: 0.8rem;
    color: var(--gray);
}

.watchlist-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--light-gray); 
    padding: 0.3rem; /* Reduced padding */
    border-radius: 50%; /* Keeps it circular */
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 2.5rem; /* Explicit width and height for small circle */
    height: 2.5rem;
}
  
.watchlist-icon:hover {
    background-color: var(--green); 
    color: white; 
}
  
.watchlist-icon-red {
    background-color: var(--light-red);
}
  
.watchlist-icon-red:hover {
    background-color: var(--red); 
    color: white; 
}

.watchlist-icon svg, .watchlist-icon-red svg {
    font-size: 1.5rem; /* Star icon size */
    transition: color 0.3s ease;
}
  
