.footer{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: var(--blue);
color: white;
text-align: center;
padding: 10px 0;
height: 20px;
font-size: 14px;
font: "sans-serif";
font-weight: bold;
}
.footer a {
    color: var(--white);
    margin-left: 10px;
    text-decoration: none;
    font-size: 14px; 
    font-weight: bold;
}

.footer a:hover {
    color: var(--black) !important
}
